﻿<% provide(:title, 'Автор') %>
<!-- Форма с исходным кодом -->
<h1><center><p>Астахов Д.А. ИВТ - 262</p></center></h1>
<center><a class="btn btn-success btn-large" href="/index/welcome">Возврат в главное меню</a></center>